[Unit]
Description=Run Loto pipeline every Friday after data update

[Timer]
OnCalendar=Fri *-*-* 21:30:00
Persistent=true
Unit=loto-forecast.service

[Install]
WantedBy=timers.target
